.cucumber-electron-window {
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.cucumber-electron-window-top {
    border-radius: 4px 4px 0 0;
    padding: 8px 6px 6px 8px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: #dee1e6;
    border-color: #dee1e6;
}

.cucumber-electron-window-pane {
    border-radius: 0 0 4px 4px ;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 6px;
}

.cucumber-electron-window-top-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

.cucumber-electron-window-top-red {
    background-color: #ed6a5f;
    border-color: #d15449;
}

.cucumber-electron-window-top-orange {
    background-color: #f5bf50;
    border-color: #d7a345;
}

.cucumber-electron-window-top-green {
    background-color: #62c654;
    border-color: #55a943;
}

.cucumber-electron-window-top-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #000000;
    padding-left: 4px;
    vertical-align: top;
}

.cucumber-electron-terminal {
    border-color: #000000;
    background-color: #000000;
    color: #c7c7c7;
    min-height: 60px;
}

.cucumber-electron-terminal pre {
    margin: 0;
    display: inline;
    white-space: pre-wrap;
}

.cucumber-electron-browser {
    border-color: #dee1e6;
}

/*
Override ansi-to-html styles: https://github.com/rburns/ansi-to-html/blob/master/src/ansi_to_html.js#L12
using iTerm's "Pastel (Dark Color)" color scheme
*/

/* black */
.cucumber-electron-terminal span[style='color:#000'] {
    color: #000 !important;
}

/* red */
.cucumber-electron-terminal span[style='color:#A00'] {
    color: #ff8272 !important;
}

/* green */
.cucumber-electron-terminal span[style='color:#0A0'] {
    color: #b4fa72 !important;
}

/* yellow */
.cucumber-electron-terminal span[style='color:#A50'] {
    color: #fefdc2 !important;
}

/* blue */
.cucumber-electron-terminal span[style='color:#00A'] {
    color: #a5d5fe !important;
}

/* magenta */
.cucumber-electron-terminal span[style='color:#A0A'] {
    color: #ff8ffd !important;
}

/* cyan */
.cucumber-electron-terminal span[style='color:#0AA'] {
    color: #d0d1fe !important;
}

/*
.cucumber-electron-terminal span[style='color:#AAA'] {
    color: #AAA !important;
}
*/


/* bright black (grey) */
.cucumber-electron-terminal span[style='color:#555'] {
    color: #8e8e8e !important;
}

/*
.cucumber-electron-terminal span[style='color:#F55'] {
    color: #F55 !important;
}

.cucumber-electron-terminal span[style='color:#5F5'] {
    color: #5F5 !important;
}

.cucumber-electron-terminal span[style='color:#FF5'] {
    color: #FF5 !important;
}

.cucumber-electron-terminal span[style='color:#55F'] {
    color: #55F !important;
}

.cucumber-electron-terminal span[style='color:#F5F'] {
    color: #F5F !important;
}

.cucumber-electron-terminal span[style='color:#5FF'] {
    color: #5FF !important;
}
*/

/* foreground */
.cucumber-electron-terminal span[style='color:#FFF'] {
    color: #c7c7c7 !important;
}

